
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Message Analysis</title>
</head>


<body>

    <nav class="navbar navbar-light" style="background-color: white;">
        <a class="navbar-brand" href="#">
            <img src="../../static/SoundCheckLogo.png" width="150" height="60" class="d-inline-block align-top" alt="">
        </a>
        <a href="{% url 'home' %}" style="font-weight:bold;">Home</a>
        <a href="{% url 'about' %}">About the Team</a>
    </nav>

    <div class="jumbotron">
            <h1 class="display-4" style="align-content:center;"> Check It Before You Send It</h1>
            <p class="lead"> Enter the message you want to check.</p>

            <div class="form-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" style="background-color: #e0e0e0"></textarea>
            </div>

            <hr class="my-4">
            <a class="btn btn-light btn-lg" href="#" style="align-content:center; margin-bottom: 20px;"  role="button">Check</a>

            <table class="table">
                <tbody>
                     <tr>
                        <th scope="row">Tone</th>
                            <td>Positive</td>
                     </tr>

                     <tr>
                            <th scope="row">Emotion</th>
                                <td>Happy</td>
                     </tr>

                     <tr>
                            <th scope="row">Professionalism</th>
                                <td><img src="../../static/icons8-christmas-star-26.png"><img src="../../static/icons8-christmas-star-26.png"><img src="../../static/icons8-christmas-star-26.png"><img src="../../static/icons8-christmas-star-26.png"><img src="../../static/icons8-christmas-star-26.png"></td>
                     </tr>

                     <tr>
                            <th scope="row">Offensiveness</th>
                                <td>Not Offensive</td>
                     </tr>

                     <tr>
                            <th scope="row">Reading Level</th>
                            <td><img src="../../static/icons8-christmas-star-26.png"><img src="../../static/icons8-christmas-star-26.png"><img src="../../static/icons8-christmas-star-26.png"><img src="../../static/icons8-christmas-star-26.png"><img src="../../static/icons8-christmas-star-26.png"></td>
                     </tr>



                </tbody>

            </table>


    </div>


</body>


</html>